@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

html {
  overscroll-behavior-y: none;
  overflow-y: auto;
}

body {
  font-family: 'Hiragino Kaku Gothic Pro', 'ヒラギノ角ゴ Pro W3', 'メイリオ',
    Meiryo, 'ＭＳ Ｐゴシック', sans-serif;
}

p {
  word-break: break-all;
}

* {
  outline: none !important;
  -webkit-tap-highlight-color: transparent !important;
}

#__next {
  @apply flex;
}

.markdown {
  overflow: hidden;
}

.markdown img {
  @apply rounded-lg;
  @apply border;
  @apply max-w-md;
}

.markdown p {
  @apply mt-2;
  @apply leading-loose;
}

.markdown a {
  @apply bg-blue-100;
  @apply p-1;
  @apply text-blue-700;
}

.markdown ul {
  @apply list-disc;
}

.markdown li {
  @apply pt-1;
}

.markdown strong {
  @apply text-red-700;
}

#background {
  filter: url(#both);
}

#background > div {
  will-change: transform;
}

#background > div:nth-child(1) {
  animation: movement-a 1.5s linear infinite;
  animation-duration: 8s;
}

#background > div:nth-child(2) {
  animation: movement-a 1.5s linear infinite;
  animation-duration: 11s;
}

#background > div:nth-child(3) {
  animation: movement-a 1.5s linear infinite;
  animation-duration: 7s;
}

#background > div:nth-child(4) {
  animation: movement-b 1.5s linear infinite;
  animation-duration: 10s;
}

#background > div:nth-child(5) {
  animation: movement-b 1.5s linear infinite;
  animation-duration: 12s;
}

#background > div:nth-child(6) {
  animation: movement-b 1.5s linear infinite;
  animation-duration: 9s;
}

@keyframes movement-a {
  0% {
    transform: translate(-20px, -20px) rotate(0deg) translateX(-20px);
  }
  100% {
    transform: translate(-20px, -20px) rotate(360deg) translateX(-20px);
  }
}

@keyframes movement-b {
  0% {
    transform: translate(-32px, -32px) rotate(0deg) translateX(-32px);
  }
  100% {
    transform: translate(-32px, -32px) rotate(360deg) translateX(-32px);
  }
}

/** https://www.heropatterns.com/ */
/*
body {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='100' viewBox='0 0 100 100'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='%23000000' fill-opacity='0.08'%3E%3Cpath opacity='.5' d='M96 95h4v1h-4v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9zm-1 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9z'/%3E%3Cpath d='M6 5V0H5v5H0v1h5v94h1V6h94V5H6z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}
*/
