{
  "extends": ["next"],
  "plugins": ["unused-imports"],
  "env": {
    "node": true,
    "es6": true
  },
  "rules": {
    "import/order": ["error", { "alphabetize": { "order": "asc" } }],
    "unused-imports/no-unused-imports": "error"
  }
}
